.about {
	position: relative;
}

.ab-shape {
	background: radial-gradient(
		34.98% 34.98% at 50% 50%,
		#725bda 0,
		rgba(6, 19, 45, 0) 100%
	);
	content: "";
	height: 1000px;
	left: -200px;
	opacity: 0.3;
	position: absolute;
	top: -200px;
	width: 1000px;
	z-index: 1;
}

.about .about_left .images:after {
	background: hsla(0, 0%, 100%, 0.1);
	border-radius: 70px;
	content: "";
	height: 505px;
	position: absolute;
	left: 22px;
	top: 10px;
	transform: rotate(11deg);
	width: 435px;
	z-index: 1;
}

.about .about_left .images {
	position: relative;
}

.about .about_left .images .img2 {
	border-radius: 70px;
	height: 520px;
	margin: 60px 0 0 -4px;
	object-fit: cover;
	position: relative;
	width: 100%;
	z-index: 3;
	padding: 25px;
}

.about_left .images .img1 {
	position: absolute;
	bottom: -8%;
	right: -20%;
	width: 180px;
	height: 180px;
	border-radius: 20%;
	object-fit: cover;
	animation: top-to-bottom 10s ease-in-out infinite;
	transform: translateX(-50%);
	z-index: 4;
}

.about .about_left .images .img3 {
	position: absolute;
	bottom: -25%;
	left: -5%;
	width: 160px;
	height: 160px;
	border-radius: 20%;
	object-fit: cover;
	animation: right-to-left 10s ease-in-out infinite;
	transform: translateY(-50%);
}

.about .about_left .images .img5 {
	width: 65px;
	height: 62px;
	border-radius: 20%;
	position: absolute;
	bottom: -15%;
	left: 38%;
	object-fit: cover;
	animation: right-to-left 10s ease-in-out infinite;
	transform: translateY(-50%);
}

.sub-heading {
	-webkit-backdrop-filter: blur(4px);
	backdrop-filter: blur(4px);
	background: linear-gradient(
		89.96deg,
		hsla(0, 0%, 100%, 0.05) 0.03%,
		hsla(0, 0%, 100%, 0.008) 49.67%,
		hsla(0, 0%, 100%, 0.05) 99.96%
	);
	border: 1px solid hsla(0, 0%, 100%, 0.1);
	border-radius: 100px;
	display: inline-block;
	margin-bottom: 22px;
	padding: 7px 14px;
}

.sub-heading span {
	-webkit-text-fill-color: transparent;
	background: linear-gradient(264.28deg, #dec7ff -38.2%, #5c27fe 103.12%), #fff;
	-webkit-background-clip: text;
}

.about-blur {
	background: radial-gradient(
		34.98% 34.98% at 50% 50%,
		#725bda 0,
		rgba(6, 19, 45, 0) 100%
	);
	height: 1800px;
	left: -55%;
	opacity: 0.5;
	position: absolute;
	bottom: -115%;
	width: 1000px;
	z-index: 1;
}

.about .about_left .images .img4 {
	position: absolute;
	top: 0%;
	left: 10%;
	width: 117px;
	height: 117px;
	border-radius: 20%;
	animation: top-to-bottom 10s ease-in-out infinite;
	transform: translateX(-50%);
	z-index: 3;
}

@media only screen and (max-width: 576px) {
	.about_left .images {
		width: 100%;
		margin: 0 auto;
	}

	.about .about_left .images .img2 {
		height: 422px;
		padding: unset;
	}

	.about .about_left .images .img2 {
		position: relative;
		width: 100%;
		border-radius: 30px;
		z-index: 3;
	}

	.about .about_left .images:after {
		left: 0px;
		top: -8px;
		width: 100%;
		height: 430px;
		border-radius: 20px;
		transform: rotate(7deg);
	}

	.about .about_left .images .img4 {
		top: -8%;
		left: 12%;
		width: 100px;
		height: 100px;
	}

	.about .about_left .images .img3 {
		bottom: -116px;
		left: -26px;
		width: 110px;
		height: 110px;
		z-index: 2;
	}

	.about_left .images .img1 {
		bottom: -21%;
		right: -30%;
		width: 140px;
		height: 140px;
	}

	.about .about_left .images .img5 {
		left: 36%;
		bottom: -24%;
	}

	.about-right {
		margin-top: -50px;
	}

	.about {
		margin-bottom: 120px;
	}
}

@media (min-width: 1280px) {
	.about .about_left .images .img2 {
		height: 570px;
	}

	.about .about_left .images:after {
		height: 570px;
		left: 16px;
		top: 0px;
		width: 470px;
	}
}
