.play_title {
	position: relative;
}

.play_title::after {
	position: absolute;
	content: "";
	height: 2px;
	width: 100%;
	left: 0;
	bottom: -4px;
	background-color: var(--primaryDark);
}

.play_title span {
	position: relative;
}

.play_title span::after {
	position: absolute;
	content: "";
	width: 2px;
	height: 100%;
	right: -12px;
	bottom: 0;
	background-color: var(--pure);
}

.gitls_char {
	position: absolute;
	bottom: -140px;
	right: -70px;
	height: 450px;
}
.top_right {
	position: absolute;
	right: 40px;
	top: -10px;
}
.content_bottom {
	position: absolute;
	right: 40px;
	bottom: -140px;
}

.content_top {
	position: absolute;
	right: 40px;
	top: 75px;
}

.circle_star {
	position: relative;
}

.circle_star::after {
	position: absolute;
	content: "";
	height: 2px;
	width: 110%;
	background-color: var(--pure);
	bottom: -9px;
	left: 0;
}

.focus {
	position: relative;
}

.focus::after {
	position: absolute;
	content: "";
	height: 150%;
	width: 2px;
	background-color: var(--pure);
	bottom: -10px;
	right: -30px;
}

.focus::before {
	position: absolute;
	content: "";
	height: 150%;
	width: 2px;
	background-color: var(--pure);
	bottom: -10px;
	left: -30px;
}

@media (min-width: 1024px) {
	.top_right {
		right: 20px;
		top: -10px;
	}

	.gitls_char {
		bottom: -95px;
		height: 400px;
	}

	.content_bottom {
		right: 20px;
		bottom: -95px;
	}

	.content_top {
		right: 20px;
		top: 75px;
	}
}

@media (min-width: 1280px) {
	.circle_star::after {
		width: 107%;
	}

	.focus::after {
		right: -13px;
	}

	.focus::before {
		left: -13px;
	}
}
