.video {
	margin-top: 100px;
}
.slider {
	overflow: hidden;
}

.slider-thumbs img {
	margin-bottom: 10px;
	transition: all 0.4s ease-in-out;
}

.slider:hover .slider-thumbs img {
	transform: translateX(-120%);
}

.slider-thumbs .active {
	border: 2px solid var(--primaryG);
}

@media (max-width: 526px) {
	.slider_main:hover .slider-thumbs img {
		transform: translateX(120%);
	}
}
