.video {
	margin-top: 100px;
}
.slider {
	overflow: hidden;
}

.slider-thumbs img {
	margin-bottom: 10px;
	transition: all 0.4s ease-in-out;
}

.slider:hover .slider-thumbs img {
	transform: translateX(-120%);
}

.slider-thumbs .active {
	border: 2px solid var(--primaryG);
}

.video {
	margin-top: 100px;
}

@media only screen and (max-width: 576px) {
	.slider_main:hover .slider-thumbs img {
		transform: translateX(120%);
	}

	.video {
		margin-top: 0px;
	}

	.slider_main img {
		width: 470px;
		height: 276px;
	}

	.slider_content {
		bottom: 10px;
		left: 10px;
	}

	.slider-thumbs {
		width: 80px;
		right: -88px;
	}

	.slider-thumbs img {
		margin-bottom: 6px;
	}
}
